@import "tailwindcss";
@source "../views";

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}

input[type="password"]::-webkit-input-decoration {
    display: none !important;
}

input[type="password"]::-webkit-input-password-toggle-button {
    display: none !important;
}

*::-webkit-scrollbar {
    display: none;
}

.grid-cols-6 > * {
    border-right: 1px solid #e5e7eb;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

[x-cloak] {
    display: none !important;
}
